#menu li {
    padding: 0 15vw;
    font-weight: 700;
}

.card {
    min-height: 90%;

}

.form-register,
.form-signin {
    width: 300px;
    margin: auto;
}

.notificator {
    font-size: 20px;
    color: rgb(126, 33, 33);
}

#partiesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#detailsContainer {
    display: flex;
    justify-content: center;
    width: 800px;
}

.columnFlex {
    display: flex;
    flex-direction: column;
    width: 400%
}

.nav-link:hover {
    text-decoration: underline;
}